{% extends "app/layout.html" %}

{% block content %}

	<div class="container">
		<div class="row">
			<div class="col">
                {% if post_l.image and post_l.image.url != '/media/temp.jpg' %}
                    <img src="{{ post_l.image.url }}" alt="Картинка" width="300" height="200"/>
                {% endif %}
				<h2>{{post.title}}</h2>
				<p>{{post.content|linebreaksbr}}</p>
				<a href="{% url 'blog' %}" class="btn btn-primary">Вернуться к блогу</a>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				{% if user.is_authenticated %}
					<h3>Добавить комментарий</h3>
					<form method="POST"> {% csrf_token %}
						{{ form.as_p }}
						<button type="submit" class="btn btn-primary">Оставить комментарий</button>

					</form>
				{% else %}
					<h3>Для добавления комментария, пожалуйста, авторизируйтесь!</h3>
				{% endif %}
			</div>
		</div>
		{% for comment in comments %}
		<div class="row">
			<div class="col-6">
				<h7>{{comment.date}}</h7>
				<h5>{{comment.author}}</h5>
				<p>{{comment.text|linebreaksbr}}</p>
			</div>
		</div>
		{% endfor %}	



	</div>

{% endblock %}
