{% extends "app/layout.html" %}

{% block home-content %}
{% load staticfiles %}


<div class="container body-content">
    <h2 class="text-center">Популярные товары</h2>
    <div class="row">
        <div class="col-md-4 news">
             <div class="news__item">
                 <img src="https://www.sportkult.ru/res/shop/goods/1012A151_16370_701_single_.jpeg" alt="Alternate Text" />
                 <h4 class="news__title">Кросовки</h4>
                 <div class="news__text">
                    Красивые, лёгкие, быстрые кроссовки для спортсменов с высоким уровнем подготовки.
Обновлённый верх работает в унисон с движениями вашей стопы.
Анатомичная стелька увеличивает поддержку и общий комфорт.
Уникальная форма Propulsion Trusstic ™ работает как рычаг, способствующий неустанному движению вперёд.
Вставка Duomax ™, интегрированная с внутренней стороны подошвы, поддерживает стопу и предохраняет её от подворота.
Новый пеноматериал и испытанная технология Gel ™ эффективно поглощают ударную нагрузку, возвращая полученную энергию.
Износоустойчивые вставки в подмётке продлевают срок её службы.
                 </div>
             </div>
        </div>
        <div class="col-md-4 news">
             <div class="news__item">
                 <img src="https://all-t-shirts.ru/goods_images/ru118229I1TG0b18e0a2066c83349c9d94f04da926046.jpg" alt="Alternate Text" />
                 <h4 class="news__title">Футболки</h4>
                 <div class="news__text">
                     Рашгард Fixgear идеально подойдет для тренировок в спортивном зале и на открытом воздухе.
Он защищает тело спортсмена от возможных царапин и ссадин, которые могут возникнуть во время тренировки, а также позволяет длительное время поддерживать мышцы в разогретом состоянии.
Рашгард выполнен из ткани Advanced Performance, которая не впитывает влагу и не утяжеляет изделие, но позволяет коже «дышать».
Идеальное соотношение цены и качества.
Оригинальный дизайн в базовой модели с принтом Пиксель!  
                 </div>
             </div>
        </div>
        <div class="col-md-4 news">
             <div class="news__item">
                 <img src="https://sport.gdebirka.ru/image/cache/data/16461/prod_3037044_2-300x300.jpg" alt="Alternate Text" />
                 <h4 class="news__title">Мячики</h4>
                 <div class="news__text">
                    Сувенирный мяч Demix — отличный подарок для любителей футбола. Модель можно использовать для развития игровых навыков у детей.
             </div>
        </div> 
    </div>
 </div>
{% endblock %}
